h1 {
    text-align: center;
    font-size: 48px;
}

header {
    background-color: lightsalmon;
}

body {
    background-color: lightyellow;
}

.jury-card {
    background-color: white;
    padding: 5px;
    width: 500px;
    /* height: 200px; */
    margin: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
}

#juries-index {
    display: flex;
    flex-wrap: wrap;
}
